---
- name: Ensure Nagios required directories exist
  file:
    path: "{{ item }}"
    state: directory
    owner: nagios
    group: nagios
    mode: "0755"
  loop:
    - /var/spool/nagios/checkresults
    - /var/lib/nagios/rw
    - /etc/nagios/servers
    - /etc/nagios/private

- name: Ensure correct pid_file in nagios.cfg
  lineinfile:
    path: /etc/nagios/nagios.cfg
    regexp: '^pid_file='
    line: 'pid_file=/var/run/nagios/nagios.pid'
    owner: nagios
    group: nagios
    mode: "0644"
  notify: Validate and restart Nagios

- name: Copy localhost config
  copy:
    src: localhost.cfg
    dest: /etc/nagios/servers/localhost.cfg
    owner: nagios
    group: nagios
    mode: "0644"

- name: Create Nagios resource.cfg if it doesn't exist
  file:
    path: /etc/nagios/private/resource.cfg
    state: touch
    owner: nagios
    group: nagios
    mode: "0600"

- name: Enable Nagios service
  systemd:
    name: nagios
    enabled: yes