---
# Main Nagios tasks

- include_tasks: install.yml

- name: Deploy correct nagios.cfg
  template:
    src: nagios.cfg.j2
    dest: /etc/nagios/nagios.cfg
    owner: nagios
    group: nagios
    mode: "0644"
  notify: Restart Nagios


- name: Ensure correct log_rotation_method in nagios.cfg
  lineinfile:
    path: /etc/nagios/nagios.cfg
    regexp: '^log_rotation_method='
    line: 'log_rotation_method=d'
  notify: Restart Nagios  # <- only the handler name, no extra text

- name: Validate Nagios configuration
  command: /usr/sbin/nagios -v /etc/nagios/nagios.cfg
  register: nagios_validate
  failed_when: nagios_validate.rc != 0
  changed_when: false

- name: Create Nagios resource.cfg if it doesn't exist
  file:
    path: /etc/nagios/private/resource.cfg
    state: touch
    owner: nagios
    group: nagios
    mode: "0600"
  notify: Restart Nagios

- name: Copy localhost config
  copy:
    src: localhost.cfg
    dest: /etc/nagios/servers/localhost.cfg
    owner: nagios
    group: nagios
    mode: "0644"
  notify: Restart Nagios
