# roles/nagios/tasks/main.yaml
---

- name: Install Nagios server and dependencies
  yum:
    name:
      - nagios
      - nagios-plugins
      - nagios-plugins-ping
      - nagios-plugins-load
      - nagios-plugins-disk
      - nagios-plugins-procs
      - nagios-plugins-users
      - httpd
      - php
      - php-cli
      - git
      - unzip
    state: present


- name: Ensure Nagios additional config directory exists
  file:
    path: /etc/nagios/servers
    state: directory
    owner: nagios
    group: nagios
    mode: "0755"

- name: Deploy Nagios hosts configuration
  template:
    src: hosts.cfg.j2
    dest: /etc/nagios/servers/hosts.cfg
    owner: nagios
    group: nagios
    mode: "0644"
  notify: restart nagios

- name: Deploy Nagios services configuration
  template:
    src: services.cfg.j2
    dest: /etc/nagios/servers/services.cfg
    owner: nagios
    group: nagios
    mode: "0644"
  notify: restart nagios

- name: Deploy extra Nagios command definitions
  template:
    src: commands_local.cfg.j2
    dest: /etc/nagios/objects/commands_local.cfg
    owner: nagios
    group: nagios
    mode: "0644"
  notify: restart nagios

- name: Ensure commands_local.cfg is included in nagios.cfg
  lineinfile:
    path: /etc/nagios/nagios.cfg
    regexp: '^cfg_file=/etc/nagios/objects/commands_local.cfg'
    line: 'cfg_file=/etc/nagios/objects/commands_local.cfg'
    insertafter: '^cfg_file=/etc/nagios/objects/commands.cfg'
  notify: restart nagios

- name: Ensure /etc/nagios/servers is included via cfg_dir
  lineinfile:
    path: /etc/nagios/nagios.cfg
    regexp: '^cfg_dir=/etc/nagios/servers'
    line: 'cfg_dir=/etc/nagios/servers'
  notify: restart nagios

- name: Deploy Apache Nagios configuration
  template:
    src: nagios-apache.conf.j2
    dest: /etc/httpd/conf.d/nagios.conf
    owner: root
    group: root
    mode: "0644"
  notify: restart apache

- name: Deploy Nagios configs
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: nagios
    group: nagios
    mode: '0644'
  loop:
    - { src: 'commands.cfg.j2', dest: '/etc/nagios/objects/commands.cfg' }
    - { src: 'hosts.cfg.j2', dest: '/etc/nagios/servers/hosts.cfg' }
    - { src: 'services.cfg.j2', dest: '/etc/nagios/servers/services.cfg' }
  notify:
    - restart nagios
    - restart apache
 

- name: Ensure Nagios web user file exists
  command: htpasswd -bc /etc/nagios/htpasswd.users "{{ nagios_web_user }}" "{{ nagios_web_password }}"
  args:
    creates: /etc/nagios/htpasswd.users
  notify: restart apache

- name: Remove wrong duplicate hosts file
  file:
    path: /etc/nagios/objects/hosts.cfg
    state: absent


- name: Enable and start Apache service
  service:
    name: httpd
    state: started
    enabled: yes

- name: Validate Nagios configuration
  command: /usr/sbin/nagios -v /etc/nagios/nagios.cfg
  register: nagios_validation
  changed_when: false
  failed_when: "'Error:' in nagios_validation.stdout"

- name: Show Validation Output
  debug:
    var: nagios_validation.stdout

- name: Ensure Nagios service is enabled
  service:
    name: nagios
    enabled: yes

- name: Enable and start Nagios service
  service:
    name: nagios
    state: restarted
    enabled: yes
  when:
    - nagios_validation.stdout is search("Total Errors:[ ]+0")

- name: Deploy local command configuration
  template:
    src: commands_local.cfg.j2
    dest: /etc/nagios/objects/commands_local.cfg
    owner: nagios
    group: nagios
    mode: '0644'

- name: Remove duplicate command from default commands.cfg if exists
  lineinfile:
    path: /etc/nagios/objects/commands.cfg
    regexp: '^define command{\s+command_name\s+check_disk_root_nrpe'
    state: absent

- name: Remove default hosts.cfg reference
  lineinfile:
    path: /etc/nagios/nagios.cfg
    regexp: '^cfg_file=/etc/nagios/objects/hosts.cfg'
    state: absent

