- name: Ensure EPEL repository is installed
  dnf:
    name: epel-release
    state: present

- name: Install phpMyAdmin
  dnf:
    name: phpMyAdmin
    state: present

- name: Backup existing phpMyAdmin.conf if exists
  copy:
    remote_src: yes
    src: /etc/httpd/conf.d/phpMyAdmin.conf
    dest: /etc/httpd/conf.d/phpMyAdmin.conf.bak
  ignore_errors: yes

- name: Ensure correct phpMyAdmin Apache config
  copy:
    dest: /etc/httpd/conf.d/phpMyAdmin.conf
    content: |
      Alias /phpMyAdmin /usr/share/phpMyAdmin

      <Directory /usr/share/phpMyAdmin>
          Options Indexes FollowSymLinks
          AllowOverride None
          Require all granted
      </Directory>

- name: Ensure httpd is started and enabled
  systemd:
    name: httpd
    state: started
    enabled: yes
