---
- name: Install NFS utilities
  package:
    name: nfs-utils
    state: present

- name: Ensure NFS share directory exists
  file:
    path: /srv/nfs_share
    state: directory
    owner: ansible
    group: ansible
    mode: "0755"

- name: Configure NFS exports
  lineinfile:
    path: /etc/exports
    regexp: "^/srv/nfs_share "
    line: "/srv/nfs_share *(rw,sync,no_root_squash)"
    state: present
    create: yes
  notify: Restart NFS services

- name: Ensure NFS server services are enabled and started
  systemd:
    name: "{{ item }}"
    state: started
    enabled: yes
  loop:
    - nfs-server
    - rpcbind
