---
# Handlers for Nagios

- name: restart httpd
  service:
    name: httpd
    state: restarted

- name: restart nagios
  service:
    name: nagios
    state: restarted
    enabled: yes

- name: restart apache
  service:
    name: httpd
    state: restarted
