<!DOCTYPE html>
<html>
<head>
    <title>Docker Worker</title>
</head>
<body>
    <h1>Welcome to Docker Worker {{ inventory_hostname }}</h1>
    <p>Load balancer test image:</p>
    <img src="image.jpg" width="400">
</body>
</html>