- name: Update all packages
  ansible.builtin.yum:
    name: "*"
    state: latest

- name: Install basic utilities
  ansible.builtin.yum:
    name:
      - vim
      - git
      - wget
      - curl
      - net-tools
      - epel-release
    state: present
