- name: Install Nginx
  ansible.builtin.yum:
    name: nginx
    state: present

- name: Copy default index.html
  ansible.builtin.copy:
    dest: /usr/share/nginx/html/index.html
    content: "<h1>Welcome to prdx-webserver101</h1>"
    owner: nginx
    group: nginx
    mode: 0644

- name: Enable and start nginx
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: yes
