---
- name: Check docker workers
  hosts: docker
  gather_facts: no
  become: yes

  tasks:
    - name: Check running containers
      ansible.builtin.command: docker ps
      register: docker_ps

    - debug:
        var: docker_ps.stdout

    - name: Check if container is listening on 8080
      ansible.builtin.command: ss -ltnp
      register: ss_output

    - debug:
        var: ss_output.stdout