---
- hosts: dns
  become: yes
  roles:
    - dns

- hosts: ntp
  become: yes
  roles:
    - ntp

- hosts: database
  become: yes
  roles:
    - database

- hosts: webserver
  become: yes
  roles:
    - webserver

- name: Configure NRPE (monitoring agent)
  hosts: "clients:!nagios:!ansible"
  become: true
  roles:
    - nrpe    

- hosts: nagios
  become: yes
  roles:
    - nagios

- hosts: ftp
  become: yes
  roles:
    - ftp

- hosts: nfs
  become: yes
  roles:
    - nfs

- hosts: docker
  become: yes
  roles:
    - docker

- name: Setup HAProxy for Docker Workers
  hosts: haproxy
  become: yes
  vars:
    docker_workers:
      - 192.168.220.208
      - 192.168.220.209
  roles:
    - haproxy

- name: Deploy site content on Docker workers
  hosts: docker
  become: yes
  roles:
    - { role: docker_worker, tags: ['deploy_site'] }

