{% for host in groups['clients'] %}
define host{
    use                     linux-server
    host_name               {{ host }}
    alias                   {{ host }}
    address                 {{ hostvars[host].ansible_host }}
}
{% endfor %}