{% for host in groups['clients'] %}

define service{
        use                     generic-service
        host_name               {{ host }}
        service_description     Disk Root /
        check_command           check_disk_root_nrpe
}

define service{
        use                     generic-service
        host_name               {{ host }}
        service_description     Load
        check_command           check_load_nrpe
}

{% endfor %}